// 변수 사용
$main-color: #3498db;
$primary-hover: #2a79ad;
$sub-color: #5bdb34;
$sub-color-hover: #4bb62b;
$danger: #e74c3c;
$danger-hover: #b83b2e;
$gray: #f4f4f4;

// 폰트
$font-main: "Noto Sans", sans-serif;
$font-main-size: 24px;
$title-size: 32px;