// 색상 변수
$primary: #3498db;
$secondary: #2ecc71;
$danger: #e74c3c;
$primary-hover: #236895;
$secondary-hover: #21914f;
$danger-hover: #a4382c;
$gray: #f4f4f4;

// 폰트
$font-main: "Noto Sans", sans-serif;
